<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <h2 class="text-center">About</h2>
        <!-- <hr class="star-light"> -->
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <h4>Experience</h4>
                <ul class="experience">
                    <li>
                        <span class="date">Aug 2016 - Present</span>
                        <a class="company" href="https://www.binlogic.com/en/">Binlogic Inc</a>
                        <p class="position">
                            Golang Backend Developer
                        </p>
                        <p>
                            In charge of a backend server and a daemon agent that runs on client machines.
                            Both written in Golang, they communicate over TCP to automate database backups.
                        </p>
                        <p>
                            The product also includes a PHP frontend in Laravel, which I also manage.
                        </p>
                    </li>
                    <hr>
                    <li>
                        <span class="date">Mar 2016 - Aug 2016</span>
                        <a class="company" href="http://investor.mercadolibre.com/">Mercadolibre</a>
                        <p class="position">
                            Java & Groovy Backend Developer - API Core team
                        </p>
                        <p>
                            Built a REST Certificate Authority to sign internal HTTP traffic used to
                            secure inter-API calls. Worked alongside the security team, using
                            asymmetric encryption, RSA and AES-256.
                        </p>
                    </li>
                    <hr>
                    <li>
                        <span class="date">Sep 2011 - Jan 2016</span>
                        <a class="company" href="https://www.joinolx.com/">OLX Inc</a>
                        <p class="position">
                            Java Backend Developer - Speed & Scalability team
                        </p>
                        <p>
                            Was in charge of the search API, a wrapper REST API in front of a sharded SOLR cluster.
                            Also built an autocomplete API doing text analysis with Lucene, as well as other text-related APIs like price and category suggestion (Bayes classifier).
                        </p>
                        <p>
                            Developed batch processes like items recategorizators, web crawlers, database migrators, etc.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 mr-auto">
                <h4>Tech Skills</h4>

                <div class="row skill">
                    <div class="col-2 text-center"> Java </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 90%"></div></div>
                    </div>
                </div>
                <div class="row skill">
                    <div class="col-2 text-center"> Golang </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 70%"></div></div>
                    </div>
                </div>
                <div class="row skill">
                    <div class="col-2 text-center"> REST </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 75%"></div></div>
                    </div>
                </div>
                <div class="row skill">
                        <div class="col-2 text-center"> MySQL </div>
                        <div class="col-10">
                            <div class="progress"><div class="progress-bar" role="progressbar" style="width: 65%"></div></div>
                        </div>
                    </div>
                <div class="row skill">
                    <div class="col-2 text-center"> SOLR </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 50%"></div></div>
                    </div>
                </div>
                <div class="row skill">
                    <div class="col-2 text-center"> PHP </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 35%"></div></div>
                    </div>
                </div>
                <div class="row skill">
                    <div class="col-2 text-center"> Linux </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 50%"></div></div>
                    </div>
                </div>

                <div class="row skill">
                    <div class="col-2 text-center"> Shell </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 40%"></div></div>
                    </div>
                </div>

                <div class="row skill">
                    <div class="col-2 text-center"> Python </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 25%"></div></div>
                    </div>
                </div>

                <div class="row skill">
                    <div class="col-2 text-center"> Crawlers </div>
                    <div class="col-10">
                        <div class="progress"><div class="progress-bar" role="progressbar" style="width: 25%"></div></div>
                    </div>
                </div>

                <hr>

                <h4>Education</h4>
                <p><a class="text-primary" href="https://portal.uned.es/portal/page?_pageid=93,1&_dad=portal&_schema=PORTAL" target="_blank">UNED</a>
                    : B. Sc. in Informatics Engineering (2007-2015)
                </p>

                <hr>

                <h4>Languages</h4>
                <div class="row text-center">
                    <div class="col-4">English</div>
                    <div class="col-4">Español</div>
                    <div class="col-4">Italiano</div>
                </div>
            </div>
        </div>
    </div>
</section>