footer {
    color: white;
    h3 {
        margin-bottom: 30px;
    }
    .footer-above {
        padding-top: 40px;
        background-color: $theme-primary;
    }
    .footer-col {
        margin-bottom: 20px;
    }
    .footer-below {
        padding: 20px 0;
        background-color: darken($theme-primary, 2);
    }
}

a.icon-upwork {
    letter-spacing: -3px;
}

a.icon-upwork:hover {
    text-decoration: none;
}